.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.gameList {
    margin: auto;
    display: flex;
    flex-direction: column;
}

.imageGameList {
    max-height: 300px;
    max-width: 600px;
}

.gameTitle{
    color: red;
}