.gameImageInfo{
    max-height: 400px;
}

.colorFont{
    color: white;
}

.favoriteButton {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 1.9rem;
    color: black;
    padding: 1.5rem 2.25rem;
    border-radius: 3.25rem, 0 3.25rem 0;
    border-radius: 2rem;
}