.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.homeTitle {
    color: white;
    font-size: 3rem;
}

.homeDescription {
    color: white; 
    font-size: 1rem;
}

.homeButton {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 1.9rem;
    color: black;
    padding: 1.5rem 2.25rem;
    border-radius: 3.25rem, 0 3.25rem 0;
    border-radius: 2rem;
}